<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XMLReader_Add_In.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="XMLReader_Add_In.defaultSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <XMLReader_Add_In.Settings>
            <setting name="UnmappedCCForeColor" serializeAs="String">
                <value>#cf7a77</value>
            </setting>
            <setting name="MappedCCForeColor" serializeAs="String">
                <value>#33704a</value>
            </setting>
        </XMLReader_Add_In.Settings>
        <XMLReader_Add_In.defaultSettings>
            <setting name="UnmappedCCForeColor" serializeAs="String">
                <value>#cf7a77</value>
            </setting>
        </XMLReader_Add_In.defaultSettings>
    </userSettings>
</configuration>